if BOARD_KITSUNE_EVO

config BOARD
    default "kisune_evo"

config ZMK_KEYBOARD_NAME
    default "Kitsune EVO"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

endif # BOARD_KITSUNE_EVO